@model PublisherModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-publisher-page");

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var publisherUrl = Url.RouteUrl("Publisher", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(publisherUrl);
    }
}
@using YStory.Core.Domain.Seo;
@using YStory.Core.Infrastructure;
@using YStory.Web.Models.Catalog;
<div class="page publisher-page">
    <div class="page-title">
        <h1>@Model.Name</h1>
    </div>
    <div class="page-body">
        @Html.Widget("publisherdetails_top", Model.Id)
        @*description*@
        @if (!String.IsNullOrWhiteSpace(Model.Description))
        {
            <div class="publisher-description">
                @Html.Raw(Model.Description)
            </div>
        }
        @Html.Widget("publisherdetails_before_featured_articles", Model.Id)
        @*featured articles*@
        @if (Model.FeaturedArticles.Count > 0)
        {
            <div class="article-grid featured-article-grid">
                <div class="title">
                    <strong>@T("Articles.FeaturedArticles")</strong>
                </div>
                <div class="item-grid">
                    @foreach (var article in Model.FeaturedArticles)
                    {
                        <div class="item-box">
                            @Html.Partial("_ArticleBox", article)
                        </div>
                    }
                </div>
            </div>
        }
        @Html.Widget("publisherdetails_after_featured_articles", Model.Id)
        @if (Model.Articles.Count > 0)
        {
            @Html.Partial("_CatalogSelectors", Model.PagingFilteringContext, new ViewDataDictionary())
        }
        @Html.Widget("publisherdetails_before_filters", Model.Id)
        @*filtering*@
        @if (Model.PagingFilteringContext.PriceRangeFilter.Enabled)
        {
            @Html.Partial("_FilterPriceBox", Model.PagingFilteringContext.PriceRangeFilter, new ViewDataDictionary())
        }
        @Html.Widget("publisherdetails_before_article_list", Model.Id)

        @if (Model.Articles.Count > 0)
        {
            <div class="@(Model.PagingFilteringContext.ViewMode == "list" ? "article-list" : "article-grid")">
                <div class="item-grid">
                    @foreach (var article in Model.Articles)
                    {
                        <div class="item-box">
                            @Html.Partial("_ArticleBox", article)
                        </div>
                    }
                </div>
            </div>
        }
        @{
            var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
        }
        @if (!pager.IsEmpty())
        {
            <div class="pager">
                @pager
            </div>
        }
        @Html.Widget("publisherdetails_bottom", Model.Id)
    </div>
</div>
