@model ArticleDetailsModel
@using YStory.Core.Domain.Seo;
@using YStory.Core.Infrastructure;
@using YStory.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-article-details-page");

    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var articleUrl = Url.RouteUrl("Article", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(articleUrl);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"article\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(YStory.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(YStory.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
    }
}
<!--article breadcrumb-->
@section Breadcrumb
{
    @Html.Partial("_ArticleBreadcrumb", Model.Breadcrumb)
}
@Html.Widget("articledetails_after_breadcrumb", Model.Id)
<div class="page article-details-page">
    <div class="page-body">
        @Html.Widget("articledetails_top", Model.Id)
        @using (Html.BeginRouteForm("Article", new { SeName = Model.SeName }, FormMethod.Post, new { id = "article-details-form" }))
        {
            <div itemscope itemtype="http://schema.org/Article" data-articleid="@Model.Id">
                <div class="article-essential">
                    @Html.Widget("articledetails_before_pictures", Model.Id)
                    <!--article pictures-->
                    @Html.Partial("_ArticleDetailsPictures", Model)
                    @Html.Widget("articledetails_after_pictures", Model.Id)
                    <div class="overview">
                        @Html.Partial("_Discontinued", Model)
                        <div class="article-name">
                            <h1 itemprop="name">
                                @Model.Name
                            </h1>
                        </div>
                        @if (!String.IsNullOrEmpty(Model.ShortDescription))
                        {
                            <div class="short-description">
                                @Html.Raw(Model.ShortDescription)
                            </div>
                        }
                        @Html.Widget("articledetails_overview_top", Model.Id)
                        <!--article reviews-->
                        @Html.Partial("_ArticleReviewOverview", Model.ArticleReviewOverview)
                        <!--article publishers-->
                        @Html.Partial("_ArticlePublishers", Model.ArticlePublishers)
                        <!--compare, email a friend-->
                        <div class="overview-buttons">
                            @Html.Widget("articledetails_inside_overview_buttons_before", Model.Id)
                            @Html.Partial("_CompareArticlesButton", Model)
                            @Html.Partial("_ArticleEmailAFriendButton", Model)
                            @Html.Widget("articledetails_inside_overview_buttons_after", Model.Id)
                        </div>
                        @Html.Partial("_ShareButton", Model)
                        @Html.Widget("articledetails_overview_bottom", Model.Id)
                    </div>
                    @if (!String.IsNullOrEmpty(Model.FullDescription))
                    {
                        <div class="full-description" itemprop="description">
                            @Html.Raw(Model.FullDescription)
                        </div>
                    }
                </div>
                @Html.Widget("articledetails_before_collateral", Model.Id)
                <div class="article-collateral">
                    <!--associated articles-->
                    <div class="article-variant-list">
                        @foreach (var variant in Model.AssociatedArticles)
                        {
                            <div class="article-variant-line" data-articleid="@variant.Id">
                                @if (!String.IsNullOrWhiteSpace(variant.DefaultPictureModel.ImageUrl))
                                {
                                    <div class="variant-picture">
                                        <img alt="@variant.DefaultPictureModel.AlternateText" src="@variant.DefaultPictureModel.ImageUrl"
                                             title="@variant.DefaultPictureModel.Title" id="main-article-img-@variant.Id" />
                                    </div>
                                }
                                <div class="variant-overview">
                                    @if (!String.IsNullOrWhiteSpace(variant.Name))
                                    {
                                        <div class="variant-name">
                                            @variant.Name
                                        </div>
                                    }
                                    @if (!String.IsNullOrWhiteSpace(variant.ShortDescription))
                                    {
                                        <div class="variant-description">
                                            @Html.Raw(variant.ShortDescription)
                                        </div>
                                    }
                                    <!--availability-->
                                    @Html.Partial("_Availability", variant)
                                    <!--SKU, MAN, GTIN, contributor-->
                                    @Html.Partial("_SKU_Man_GTIN_Ven", variant)
                                    <!--delivery-->
                                    @Html.Partial("_DeliveryInfo", variant)
                                    <!--sample download-->
                                    @Html.Partial("_DownloadSample", variant)
                                    <!--attributes-->
                                    @{
                                        var dataDictAttributes = new ViewDataDictionary();
                                        dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", variant.Id);
                                        @Html.Partial("_ArticleAttributes", variant.ArticleAttributes, dataDictAttributes)
                                    }
                                    <!--gift card-->
                                    @{
                                        var dataDictGiftCard = new ViewDataDictionary();
                                        dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = string.Format("giftcard_{0}", variant.Id);
                                        @Html.Partial("_GiftCardInfo", variant.GiftCard, dataDictGiftCard)
                                    }
                                    <!--rental info-->
                                    @{
                                        var dataDictRental = new ViewDataDictionary();
                                        dataDictRental.TemplateInfo.HtmlFieldPrefix = string.Format("rental_{0}", variant.Id);
                                        @Html.Partial("_RentalInfo", variant, dataDictRental)
                                    }
                                    <!--price & add to cart-->
                                    @{
                                        var dataDictPrice = new ViewDataDictionary();
                                        dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", variant.Id);
                                        @Html.Partial("_ArticlePrice", variant.ArticlePrice, dataDictPrice)
                                    }
                                    <!--price breaks-->
                                    @Html.Partial("_ArticleTierPrices", variant.TierPrices)
                                    @{
                                        var dataDictAddToCart = new ViewDataDictionary();
                                        dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", variant.Id);
                                        @Html.Partial("_AddToCart", variant.AddToCart, dataDictAddToCart)
                                    }
                                    <!--wishlist-->
                                    @{
                                        var dataDictAddToWishlist = new ViewDataDictionary();
                                        dataDictAddToWishlist.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", variant.Id);
                                        @Html.Partial("_AddToWishlist", variant.AddToCart, dataDictAddToWishlist)
                                    }
                                </div>
                            </div>
                        }
                        @if (Model.AssociatedArticles.Count == 0)
                        {
                            <div class="no-associated-articles">
                                @T("Articles.NoAssociatedArticles")
                            </div>
                        }
                    </div>
                    @Html.Partial("_ArticleSpecifications", Model.ArticleSpecifications)
                    @Html.Partial("_ArticleTags", Model.ArticleTags)
                </div>
                @*we do not display "also purchased" for grouped articles
                @Html.Action("ArticlesAlsoPurchased", "Article", new { articleId = Model.Id })*@
                @Html.Action("RelatedArticles", "Article", new { articleId = Model.Id })
            </div>
        }
        @Html.Widget("articledetails_bottom", Model.Id)
    </div>
</div>
